<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351002001452-052dqgbo7rmolsovqr4tjahebm6tp8tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351002001452-052dqgbo7rmolsovqr4tjahebm6tp8tu</string>
	<key>API_KEY</key>
	<string>AIzaSyDWBN5z9We_uqXufklYOiE4IT9gYcnVNFo</string>
	<key>GCM_SENDER_ID</key>
	<string>351002001452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peter-bassem.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-4b1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-4b1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351002001452:ios:b61abf3d75eb7ecc809189</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-4b1b3.firebaseio.com</string>
</dict>
</plist>